# Data Science Tools and Ecosystem

## Introduction
This notebook provides an overview of popular tools, libraries, and languages used in Data Science. It also demonstrates basic operations in Python, such as arithmetic expressions and conversions.

### Data Science Languages
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala

### Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

### Data Science Tools

| Tool               | Description                              |
|--------------------|------------------------------------------|
| Jupyter Notebook   | Interactive computing environment       |
| RStudio            | Integrated development for R            |
| Apache Hadoop      | Distributed processing and storage      |
| Apache Spark       | Data processing and analytics           |
| TensorFlow         | Machine learning framework              |

### Arithmetic Expression Examples
Below are examples of basic arithmetic operations, including addition, multiplication, and conversion.

In [3]:
# This code multiplies 5 by 3 and adds 2 to the result
result = (5 * 3) + 2
result

17

In [4]:
# This code converts 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

### Objectives
- List popular languages for Data Science
- Identify commonly used libraries for data science
- Demonstrate basic arithmetic expressions in Python
- Share the notebook on GitHub

### Author
Prajyot Ambekar